.product-image {
    max-width: 250px;     /* normal shop size */
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.product-card img {
    width: 100%;
    max-height: 220px;
    object-fit: contain;
}

.product-image {
    width: 200px;
    height: 200px;
    object-fit: cover;  /* fills box */
}

img {
    max-width: 100%;
    height: auto;
}
